<!-- HEADER -->
<div class="container">
  <p class="header">Hastebin-Paste Wiki</p>
</div>

<nav class="sidenav" id="navbarSide">
  <div class="sidenav-title">
    <p class="text-center">Minecolonies Wiki</p>
  </div>
  <hr />
  <ul class="sidenav-nav">
    <li class="sidenav-item">
      <a href="https://minecolonies.com" class="sidenav-link">Home</a>
    </li>
  </ul>
  <hr />
  <ul class="sidenav-nav">
    <li class="sidenav-item">
      <a href="{{ site.baseurl }}" class="sidenav-link">Wiki Home</a>
    </li>
    {% for item in site.data.subnav.subnav %}
      <li class="sidenav-item dropdown">
        <a class="sidenav-link dropdown-toggle" id="{{ item.title }}DropdownSidenav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">{{ item.title }}</a>
        <div class="dropdown-menu" aria-labelledby="{{ item.title }}DropdownSidenav">
          {% for entry in item.subitems %}
            <a class="dropdown-item" href="{{ entry.url | relative_url }}">{{ entry.page }}</a>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <hr />
</nav>
<div class="overlay"></div>

<!-- NAVBAR PRIMARY -->
<nav class="navbar navbar-expand-lg navbar-default main">
  <div class="container">
    <button class="navbar-toggler" type="button" id="navbarSideButton" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="https://minecolonies.com" class="nav-link">Home</a>
        </li>
      </ul>



      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://github.com/Absolute-Development/hastebin-paste-wiki/edit/master/{{ page.path }}" class="nav-link">Edit this page <i class="fab fa-github"></i></a>
        </li>
         <li class="nav-item">
          <a href="https://npmjs.com/package/hastebin-paste" class="nav-link">Go to npm</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

  <!-- NAVBAR SECONDARY -->
  <nav class="navbar navbar-expand-lg navbar-default secondary">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarsec">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{{ site.baseurl }}" class="nav-link">Wiki Home</a>
        </li>
        {% for item in site.data.subnav.subnav %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="{{ item.title }}Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
            <div class="dropdown-menu" aria-labelledby="{{ item.title }}Dropdown">
              {% for entry in item.subitems %}
                <a class="dropdown-item" href="{{ entry.url | relative_url }}">{{ entry.page }}</a>
              {% endfor %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- /NAVBAR SECONDARY -->
